
html, body {
  margin: 0;
  padding: 0;
}

body {
text-align: center;
  font-family: sans-serif;
  background: #F2F2F2;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  color: #F0DE36;
  font-size: 3rem;
  
}

.exchange{
  font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
    color: #D71313;
    padding-right: 0px;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -71px;
    margin-left: 64px;
}
.convert{

  font-family: 'Sansita Swashed', cursive;
  font-size: 25px;
  color: #D71313;
  padding-right: 235px;
}

input {
	width: 150px;
	height: 30px;
	font-size: 20px;
    margin: 5px auto;
    outline: 0;
}


#original-currency-amount{
  padding-left: 0;
    width: 73px;
    margin-left: -3px;
    text-align: center;
}
button {
width: 300px;
height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: 'Sansita Swashed', cursive;
  background-color: #3a0c58;
  background-color: #06266b;
}

button:hover{
  background-color: #00FF99;
}
select{
	width: 80px;
	height: 35px;
	font-size: 20px;
	text-align: initial;
	padding-left: 10px;
  outline: 0;
}

#exchange{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 20px;
    outline: 0;
    color: #00539CFF;
    border: 4px solid #F0DE36;

}


#exchange:active, button:active {
	transform: scale(0.9);
}
#output-text{
  display: none;
  padding: 20px;
  font-size: 30px;
  color: #00539CFF;
}


span{
  color: #D71313;

  font-size: 35px;
}

#exchange-rate{
  cursor: default;
  text-align: center;
  width: 73px;
  
}



.select-box {
  padding: 3rem;
  display: inline-block; 
  background-color: #3a9c7d;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 3px 2px 5px #3a9c7d;
}

.fa {
   font-family: 'Lato', 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
  padding: 1rem 2rem;
  color: #3a9c7d;

}

.transfer-way{

  margin: 15px;
  width: 252px;

}

.logo{
  float: right;
  margin-top: 5px
}

#to{
  width: 73px;
    margin-left: 198px;
}